/* .ToRightAnimation {
    animation-duration: 0.6s;
    animation-name: listout;
    transform: translateX(75vw);
}

.originListStyle {
    width: 100vw;
    padding-top: 40px;
    height: 100vh;
}

@keyframes listout {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(75vw);
    }
}

.ToLeftAnimation {
    animation-duration: 0.6s;
    animation-name: listin;
    transform: translateX(0);
}

@keyframes listin {
    from {
        transform: translateX(75vw);
    }

    to {
        transform: translateX(0);
    }
} */

/* marginleft实现动画 */
.ToRightAnimation {
    animation-duration: 0.6s;
    animation-name: listout;
    left:75%;
}

.originListStyle {
    width: 100%;
    height: calc(100% - 0px);
    display: flex;
    flex-direction: column;
    position: relative;
}

@keyframes listout {
    from {
       left:0;
    }

    to {
        left:75%;
    }
}

.ToLeftAnimation {
    animation-duration: 0.6s;
    animation-name: listin;
    left: 0;
}

@keyframes listin {
    from {
        left:75%;
    }

    to {
        left:0;
    }
}



.wrapper {
    height: 100%;
    /* width: 100%;
    flex: 1;
    overflow-y: scroll; */
    padding-top: 40px;
}

#cloakdiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 10;
    overflow: hidden;
    /* display: none;*/
}

.topBox {
    background-color: #8560A9;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.leftlogo {
    margin-left: 15px;
    vertical-align: middle
}

#searchButton {
    background-color: transparent;
    border: transparent;
    width: 25px;
    height: 25px;
}

#meButton {
    margin-right: 15px;
    width: 24px;
    border-radius: 50%;
    vertical-align: middle;
}