.App {}

.ant-picker-date-panel .ant-picker-body {
    padding: 0 !important;
}

.ant-picker-panel-container .ant-picker-panel {
    width: 255px !important
}

.ant-picker-header {
    width: 255px !important
}